:root{
  --primary-color: forestgreen;
  --primary-font: cursive;
}

h2 {
  color: var(--primary-color);
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  font-family: var(--primary-font);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

#navText {
  color: var(--primary-color);
}

#button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px grey;
  opacity: 0.75;
}

a:hover {
  cursor: pointer;
  color: var(--primary-font)
}
